.form__group {
    margin-bottom: 1.5rem;
}
.form__control {
    display: block;
    width: 100%;
    padding: .5px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0;
    box-shadow: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: $white;

    &::placeholder {
        color: rgba($white, .2);
    }
    &--textarea {
        height: 30px;
        overflow: hidden;
        resize: none;
    }
}