.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    border-radius: 5px;
    background-color: $primary;
    box-shadow: 0 15px 25px rgba($black, .35);
}
.post__header {
    margin: 0 0 2.5rem;

    &--preview {
        margin: -2.5rem -2.5rem 2.5rem;
    }
}
.post__img {
    border-radius: 5px 5px 0 0;
    display: block;
    max-width: 100%;  //для картинок разных
    height: auto;     //размеров
}
.post__content {
    margin-bottom: 2rem;
}
.post__title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: $white;
    font-weight: 500;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    &--mb0 {
        margin-bottom: 0;
    }
}
.post__subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: $white;
    font-weight: 500;
}

.post__description {
    font-size: 1.4rem;
    color: $white;
}
.post__text {
    font-size: 1.4rem;
    color: #d2d2d2;
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 1rem;

    h2, h3, h4 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 700;
    }
    ul, ol {
        margin-bottom: 2rem;
    }
    ol {
        list-style: decimal;
        list-style-position: inside;
    }
    table {
        width: 100%;
        margin-bottom: 2rem;
    }
    img {   //адаптация картинки по размеру
        display: block;
        max-width: 100%;
        height: auto;
    }
    .fr-video {  //оборачивание видео с ютуба для CMS October
        display: block;
    }

    p {
        margin-bottom: 2rem;
    }
}
.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__data {
    display: flex;
    color: #828282;
    line-height: 1.2rem;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
.post__data-item {
    &:after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 1.5rem;
        border-radius: 50%;
        background-color: #c4c4c4;
    }
}
.post__read {
    font-size: 1.4rem;
    color: #107eff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
.post__actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: $white;

    a {
        color: inherit;
        text-decoration: none;
        opacity: 0.6;//затемнение ссылок
        transition: opacity .2s linear;

        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }

}
.post__actions-icon {
    margin-left: 0.5rem;
}