.profile {
    margin-top: -5rem;


    @include breakpoint ($tablet-bp) {
        margin-top: -3.25rem;
        position: relative;
        border-bottom: 1px solid #1c1c1c;
    }
}
.profile__header {
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint ($tablet-bp) {
        padding-top: 1rem;
        padding-left: 8rem;
        text-align: left;
    }
}
.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: -5rem auto 2rem;

    border: 2px solid $white;
    box-shadow: 0 7px 20px rgba($black, .25);
    border-radius:  50%;

    position: relative;

    @include breakpoint ($tablet-bp) {
        width: 6.5rem;
        height: 6.5rem;
        margin: -1rem auto 2rem;
        margin-left: 0;
        position: absolute;
        left: 1;
    }
}
.profile__name {
    font-size: 1.8rem;

    @include breakpoint ($tablet-bp) {
        font-size: 1.5rem;
    }
}
.profile__prof {
    font-size: 1.4rem;
    font-weight: 300;
    color: #dedede;

    @include breakpoint ($tablet-bp) {
        font-size: 1.2rem;
    }
}
.profile__text {
    font-size: 1.2rem;
    text-align: center;

    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;

    padding-bottom: 3rem;
    padding-top: 3rem;

    @include breakpoint ($tablet-bp) {
        display: none;
    }
}