.subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.5em 0;

    width: 16.5rem;
    background-color: $blue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba($black, .2);

    @include breakpoint ($tablet-bp) {
        position: static;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        padding-left: 2rem;
    }
}
.subnav__link {
    display: block;
    padding: 0.45rem 1.2rem;
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;

    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: darken($blue, 5%);
    }
    @include breakpoint ($tablet-bp) {
        padding-left: 0;
        padding-right: 0;

        font-size: 1.5rem;

        &:hover {
            background: none;
        }
    }
}