<div class="modal">
    <div class="modal__content">
        <form class="form">

            <button class="modal__close" type="button">
                <img src="assets/images/close.svg" alt="Закрыть">
            </button>

            <ul class="social">

                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/twitter-m.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/facebook-m.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/vk-m.svg" alt="">
                    </a>
                </li>

                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="assets/images/copy-m.svg" alt="">
                    </a>
                </li>

            </ul>

    </div>
</div>