<aside class="sidebar">
    <div class="sidebar-header">
<img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar-content">
        <div class="pofile">
            <img src="assets/images/profile-avatar.jpg" alt="">
            <div class="profile-name">Hrebeniuk Ihor</div>
            <div class="profile-prof">Web developer</div>
            <ul class="social">

                <li class="social-item">
                    <a href="#" class="social-link" target="_blank">
                        <img src="assets/images/instagram.svg" alt="instagram Hrebeniuk Ihor">
                    </a>
                </li>

                <li class="social-item">
                    <a href="#" class="social-link" target="_blank">
                        <img src="assets/images/vk.svg" alt="instagram Hrebeniuk Ihor">
                    </a>
                </li>

                <li class="social-item">
                    <a href="#" class="social-link" target="_blank">
                        <img src="assets/images/pinterest.svg" alt="instagram Hrebeniuk Ihor">
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="sidebar-footer">

    </div>
</aside>